<template>
  <div>
       <div class="row">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.gangabathfittings.com/Product/metropole-flush-valve-flow-with-control-cock-sparrow-f.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://www.gangabathfittings.com/Product/metropole-flush-valve-flow-with-control-cock-sparrow-f.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://www.gangabathfittings.com/Product/metropole-flush-valve-flow-with-control-cock-sparrow-f.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                     <div class="card" style="width: 18rem;">
                    <img src="https://www.gangabathfittings.com/Product/metropole-flush-valve-flow-with-control-cock-sparrow-f.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                </div>

  </div>
</template>

<script>
export default {};
</script>

<style>
</style>
