<template>
   <ul class="list-group">
               <li class="list-group-item">Item-price</li>
               <li class="list-group-item">Item-price</li>
               <li class="list-group-item">Item-price</li>
             </ul>
</template>

<script>
export default {};
</script>

<style >
</style>
