<template>
<div id="app">
    <navbar></navbar>
    <div class="container">
        <div class="row">
            <div class=col-sm-10>
              <card></card>
            </div>
            <div class=col-sm-2>
              <inventory></inventory>
            </div>

        </div>

    </div>
</div>
</template>

<script>
import navbar from "./components/navbar";
import card from "./components/card";
import inventory from "./components/inventory";
export default {
  components: {
    navbar,
    card,
    inventory
  }
};
</script>

<style>
.container {
  padding-top: 15px;
}
</style>
